.weather-main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzWWaTkzRrpiLduQ_jJPtJov2qstQ97pknIA&s);
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

h1 {
    font-family: 'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}